<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSRemindersUsageDescription</key>
	<string>ReminderHeatmap needs access to your reminders to display your completion history.</string>
	<key>SUPublicEDKey</key>
	<string>/DaQpPYJgc/6et7QqwoN7KqNJuYC3TVfCU0NwSV23p0=</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/addobari/ReminderHeatmap/main/appcast.xml</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>reminderheatmap</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
